<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576802968702-a8or0h9q6i9jtejoorj68n5ppvkof0ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576802968702-a8or0h9q6i9jtejoorj68n5ppvkof0ij</string>
	<key>API_KEY</key>
	<string>AIzaSyAQPT8H6wLSZ8bPCngglSfqni_Z5ADChYI</string>
	<key>GCM_SENDER_ID</key>
	<string>576802968702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tec21.bancoAlimentosJueguitos</string>
	<key>PROJECT_ID</key>
	<string>promotionalgame-e9479</string>
	<key>STORAGE_BUCKET</key>
	<string>promotionalgame-e9479.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576802968702:ios:5777a2dbe195536d35f42f</string>
</dict>
</plist>