<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D Terrain Renderer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/landing.css')}}">
</head>

<body>
   <h1>ThreeJS-Gis Index</h1>
   
    <!-- User Inputs-->
    <a href="{{url_for('taiz') }}">Taiz</a>
    <a href="{{url_for('aden') }}">Aden</a>
    <a href="{{url_for('gJson') }}"> Aden new Test</a>
    <!-- <a href="{{url_for('dRender') }}">(Experimental) Dynamic Fetching</a> -->
    <a href="{{url_for('subBasin') }}">Sub Basin 18[old]</a>
    <a href="{{url_for('subBasin18') }}">Sub Basin 18</a>
    <a href="{{url_for('dynamics') }}">DYNAMIC RENDERING</a>

</body>
</html>